/*
 * WOTC State Submission
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0
 * Contact: support@neonworks.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using WOTCStateSubmission.Model;
using Microsoft.AspNetCore.Authorization;
//using IO.Swagger.Attributes;
//using IO.Swagger.Models;

namespace IOTCStateSubmission.Controllers
{


    [Authorize]
    [Route("api/[controller]")]
    public class StateApiController : Controller
    {
        /// <summary>
        /// Submits applications to the state
        /// </summary>
        /// <remarks>This call will submit the screenings to the state</remarks>
        /// <param name="stateAbbreviation">Abbreviation of the state</param>
        /// <param name="body">Request that contains a list of all of the applications to be submitted</param>
        /// <response code="200">successful operation</response>
        /// <response code="405">Invalid input</response>
        [HttpPost]
        [Route("/state/{stateAbbreviation}/submit")]
        //[SwaggerOperation("SubmitScreenings")]
        //[SwaggerResponse(200, typeof(SubmitWOTCScreeningsResponse), "successful operation")]
        //[SwaggerResponse(405, typeof(SubmitWOTCScreeningsResponse), "Invalid input")]
        public virtual IActionResult SubmitScreenings([FromRoute]string stateAbbreviation, [FromBody] List<WOTCStateSubmission.Model.WOTCModel> screenings)
        {
            string exampleJson = null;

            return Ok(new WOTCStateSubmission.Model.Response());

            
        }

    }
}
